{% extends 'base.html.twig' %}

{% block title %}Hello FeedController!{% endblock %}

{% block body %}

    <div class="example-wrapper">

        {% for post in posts %}

            {{ post.title }}
            {{ post.body }}
            {#<img src="../css/files/{{ user.username }}/posts/{{ post.path }}">#}
            {#{% if user.id == app.user.id %}#}
                {#<a href="#" class="delete-post" data-id="{{ post.id }}">Delete Post</a>#}
            {#{% endif %}#}
            <a href="/social-media/public/profile/{{ post.author }}">Visit Profile</a>
            <a href="/social-media/public/profile/{{ post.author }}">Load More</a>

        {% endfor %}

    </div>
{% endblock %}
