{% extends 'base.html.twig' %}

{% block title %}Users Profile{% endblock %}

{% block body %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    <div class="example-wrapper">

        {% for user in users %}

            {% if user.path == 'default-pp.png' %}
                {% set path = '../css/files/system-images/' ~ user.path %}
            {% else %}
                {% set path = '../css/files/' ~ user.username ~ '/' ~ user.path %}
            {% endif %}

            <h2>{{ user.username }}</h2>
            <img src="{{ path }}">

            {% if friendStatus == 'my profile' %}
                <h2>This is my own profile, offer me the edit profile button</h2>
                <a href="{{ path('edit_profile', {id: user.id}) }}">Edit my Profile</a>
            {% elseif friendStatus == 'friend' %}
                <h2>We are friends</h2>
                <a class="remove-friend" href="{{ path('friendrequest_remove', {id: user.id}) }}">Remove friend</a>
            {% elseif friendStatus == 'requested' %}
                <h2>I have requested to be friends with this person</h2>
                <a class="reject-request" href="{{ path('friendrequest_reject', {id: user.id}) }}">Cancel Friend
                    Request</a>
            {% elseif friendStatus == 'received' %}
                <h2> This person has requested to be friends with me </h2>
                <a class="accept-request" href="{{ path('friendrequest_accept', {id: user.id}) }}">Accept Friend
                    Request</a>
            {% else %}
                <a href="{{ path('friendrequest_send', {id: user.id}) }}" class="fa fa-post-o like-post add-friend">Add
                    friend</a>
            {% endif %}

            <div id="posts">
                {% for post in posts %}

                    <div class="post">
                        {{ post.title }}
                        {{ post.body }}
                        {% if post.path %}
                            <img src="../css/files/{{ user.username }}/posts/{{ post.path }}">
                        {% endif %}
                        {#<div class="post-like-count">{{ post.likeCount }}</div>#}
                        {#<a href="{{ path('post_toggle_like', {id: post.id}) }}" class="fa fa-post-o like-post js-like-post">Like</a>#}
                        {% if friendStatus == 'my profile' %}
                            <a href="#" class="delete-post" data-id="{{ post.id }}">Delete Post</a>
                        {% endif %}
                    </div>

                {% endfor %}
            </div>

        {% endfor %}

    </div>
{% endblock %}
